/*init css for spinner*/
.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 22%;
}
/*end css for spinner*/

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.full-width {
  width: 80%;
  margin-left: 10%;
}

.button-open {
  margin-left: 10%;
  width: 35%;
}

.button-center {
  margin-left: 32.5%;
  width: 35%;
}

.myRow {
  padding-top: 1px;
}

.myCol {
  flex: 50%;
}

ul {
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10% 12px 10%;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

h1 {
  font-size: 20px;
  margin-left: 10%;
}

h2 {
  font-size: 18px;
  margin-left: 10%;
}

::ng-deep .mat-paginator-container {
  padding-right: 10% !important;
  color: black;
  background-color: #fafafa;
}

.btnToggle {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .myRow {
    display: flex;
    padding-top: 25px;
  }
}



