<div class="wrapper">
  <div class="overlay" *ngIf="showS">
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="myRow">
    <div class="myCol" >
      <form class="example-form" *ngIf="!resizer.isTablet || !showLogList">
        <h1>Bike info:</h1>
        <mat-form-field class="full-width">
          <input matInput placeholder="Bike code" readonly="true" value={{bike.id}}>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Type" readonly="true" value={{bike.type.name}}>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Position" readonly="true" value="({{bike.currLocation.lat}}, {{bike.currLocation.long}})">
        </mat-form-field>

        <mat-form-field *ngIf="(logs[0] == undefined || logs[0].state.name!='Busy')" class="full-width">
          <input matInput placeholder="Station" readonly="true" value={{station.name}}>
        </mat-form-field>

        <mat-form-field *ngIf="(logs[0] == undefined || logs[0].state.name!='Busy')" class="full-width">
          <input matInput placeholder="Tower" readonly="true" value={{tower.name}}>
        </mat-form-field>

        <mat-form-field *ngIf="(logs[0] != undefined && logs[0].state.name=='Busy')" class="full-width">
          <input matInput placeholder="User" readonly="true" value={{logs[0].user.username}}>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Status" readonly="true" value={{bike.currState.name}}>
        </mat-form-field>

        <a mat-raised-button *ngIf="(logs[0] != undefined && logs[0].state.name=='Busy')"
           routerLink="../../userDetails/{{logs[0].user.id}}" class="button-center">Show user</a>
        <button mat-raised-button *ngIf="!(logs[0] != undefined && logs[0].state.name=='Busy')"
                [disabled]="(bike.currState.name!='Available')" (click)="repair()" class="button-open">Repair</button>
        <button mat-raised-button *ngIf="!(logs[0] != undefined && logs[0].state.name=='Busy')"
                [disabled]="(bike.currState.name!='Maintenance')" (click)="available()" class="button-open">Make Available</button>
      </form>
    </div>
    <div class="myCol" *ngIf="!resizer.isTablet || showLogList">
      <h2>Logs:</h2>
      <mat-paginator [length]="logs.length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [showFirstLastButtons]="true"
                     [hidePageSize]="true"
                     (page)="changeLog($event)">
      </mat-paginator>
      <ng-container *ngFor="let log of visibleLog">
        <ul (click)="showLog(log)">
          <li>
            <b>What:</b> {{ log.name }}
          </li>
          <li>
            <b>When:</b> {{log.time}}
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="btnToggle" *ngIf="resizer.isTablet">
      <button mat-raised-button (click)="toggle()" class="button-center">{{textToggle}}</button>
    </div>
  </div>
</div>
