.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
