<ul routerLink="../bikeDetails/{{bike.id}}" >
  <li>
    <i *ngIf="!(bike.type.name!='Electric')" class="material-icons"> flash_on </i>
    <i *ngIf="!(bike.type.name!='Normal')" class="material-icons"> directions_bike </i>
    <b>ID:</b> {{ bike.id }}
  </li>
  <li>
    <b>Status:</b> {{bike.currState.name}}
  </li>
  <li>
    <b>Position:</b> ({{bike.currLocation.lat}} , {{bike.currLocation.long}})
  </li>
</ul>
