$topBarHeight: 56px;
$containerHeight: calc(100% - #{$topBarHeight});

.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
}

/* for some reason desktop toolbar changes height to 64 px,
this is needed to return it back to 56px */
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: $topBarHeight !important;
}

mat-sidenav-container {
  margin-top: 56px;
  position: fixed;
  height: $containerHeight;
  min-height: $containerHeight;
  width: 100%;
  min-width: 100%;
}

mat-nav-list {
  margin-top: 10px;
}

.sidebar-icon {
  margin-right: 10px;
}

.toolbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}

@media only screen and (max-width: 768px) {
  mat-sidenav-content {
    padding: 0px;
  }
  mat-nav-list {
    margin-top: 0px;
  }
}
