<div class="example-container outer" [class.example-is-mobile]="isTablet">

  <!-- topnav content -->
  <mat-toolbar color="primary" class="toolbar">
    <button *ngIf="isTablet" mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{currentPageDisplayed}}</h1>

    <!--<h1 class="example-app-name center">Bike Sharing Service</h1>-->
  </mat-toolbar>

  <!-- sidenav content -->
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="sidebarOpened" [mode]="isTablet ? 'over' : 'side'" [fixedInViewport]="isTablet"
      fixedTopGap="56">
      <mat-nav-list>
        <!--<mat-list-item *ngFor="let nav of sideNavContent">-->
          <a mat-list-item *ngFor="let nav of sideNavContent" routerLink="{{nav.routerLink}}" (click)="changeCurrentPageDisplayed(nav)">
            <mat-icon class="sidebar-icon">{{nav.icon}}</mat-icon>
            {{nav.nameDisplayed}}
          </a>
        <!--</mat-list-item>-->
      </mat-nav-list>
    </mat-sidenav>

    <!-- page content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
