/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-family: Roboto, Arial, sans-serif;
}

html, body, .container-to-fill {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* should be assigned only to elements inside <mat-sidenav-container> */

.container-to-fill {
  display: flex;
  flex-flow: column;
}

.fill-remaining {
  /*background-color: lightgreen;*/
  flex-grow: 1;
}

/* debug
.container-to-fill, .fill-remaining {
  border: solid;
}*/

/* 80px = 56px (topbar)  + 24px (default mat-snackbar margin) */
.custom-mat-snackbar{
  margin-top: 80px !important;
}
