.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  padding: 10px;
  font-size: 24px;
}

h1, h3 {
  text-align: center;
}

.container {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 30px;
  }
}
