<div class="s">
  <mat-card class="custom-card">
    <div class="header">
      <h1>Service Info</h1>
    </div>

    <hr>

    <div class="container">
      <h3>Cost</h3>
      <p>Here are the costs of our service:</p>
      <ul>
        <li *ngFor="let bikeType of bikeTypes">
          For {{bikeType.name}} bikes the price is {{bikeType.hourlyRate}} per hour
        </li>
      </ul>

      <hr>

      <h3>Suggestions</h3>
      <p>If you have any idea to improve our service feel free to conctact us at <a href="mailto:suggestions@bikesharing.it">suggestions@bikesharing.it</a></p>

      <hr>

      <h3>Bugs</h3>
      <p>If you find a bug don't hesitate reporting it at <a href="mailto:bugreport@bikesharing.it">bugreport@bikesharing.it</a></p>

    </div>
  </mat-card>
</div>
