.center-text-horizonthally {
  text-align: center;
}

h3 {
  margin-top: 3% !important;
}

.title-margin {
  margin-bottom: 20px;
}

app-rent-return-bike {
  margin-top: 2%;
  margin-bottom: 2%;
}

$switchButtonMargin: 10px;
.switch-button {
  text-align: center;
  margin-top: $switchButtonMargin;
  margin-left: $switchButtonMargin;
  margin-right: $switchButtonMargin;
  button {
    width: 100%;
    font-size: 18px;
  }
}
