<!-- tablet and mobile page version -->
<div *ngIf="isTablet" class="container-to-fill">
  <!-- <mat-tab-group> is impicitly wrapped inside a <mat-tab-header class="mat-tab-header">-->
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">

    <mat-tab label="Map">
      <app-show-map-details [markers]="markers" [userLocation]="userLocation"></app-show-map-details>
    </mat-tab>

    <mat-tab label="Rent Bike">

      <div>
        <!-- *ngIf triggers the auth check each time and causes an ugly effect -->
        <div [hidden]="!qrActive">
          <h3 class="center-text-horizonthally"> Scan QR Code </h3>

          <app-scanner [qrActive]="qrActive" (codeRetrieved)="onCodeRetrieval($event)"></app-scanner>
        </div>

        <div [hidden]="qrActive">
          <h3 class="center-text-horizonthally title-margin"> Manual insert code </h3>

          <app-rent-return-bike></app-rent-return-bike>
        </div>

        <div class="switch-button">
          <button mat-raised-button color="primary" (click)="switchView()">
            {{switchViewButtonText}}
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- computer page version -->
<div *ngIf="!isTablet" class="container-to-fill">

  <app-rent-return-bike></app-rent-return-bike>

  <app-show-map-details [markers]="markers" [userLocation]="userLocation"></app-show-map-details>

</div>
