<ul routerLink="../userDetails/{{user.id}}" >
  <li>
    <b>Username:</b> {{ user.username }}
  </li>
  <li>
    <b>Name:</b> {{user.surname}} {{user.name}}
  </li>
  <li>
    <b>Admin:</b> {{isAdmin}}
  </li>
</ul>
