.custom-card {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}

.image {
  width: 30%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -20%);
}

.badge-info {
  width: 70%;
}
