<h2 class="center"> {{title}} </h2>
<mat-grid-list [cols]="isTablet ? 1 : 3" rowHeight="3.5:1" gutterSize="10px">
  <div *ngFor="let badge of badges">
    <mat-grid-tile *ngIf="badge.achieved == achieved" [colspan]="badgeCols" [rowspan]="badgeRows">
      <mat-card class="custom-card" (click)="openBadgeDetailsDialog(badge)">

        <div class="image">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"
            viewBox="0 0 40 40" [ngStyle]="{'fill': badge.color}">
            <path d="M20,2H4V4L9.81,8.36C6.14,9.57 4.14,13.53 5.35,17.2C6.56,20.87 10.5,22.87 14.19,21.66C17.86,20.45 19.86,16.5 18.65,12.82C17.95,10.71 16.3,9.05 14.19,8.36L20,4V2M14.94,19.5L12,17.78L9.06,19.5L9.84,16.17L7.25,13.93L10.66,13.64L12,10.5L13.34,13.64L16.75,13.93L14.16,16.17L14.94,19.5Z"
              x="0" y="0" width="100%" height="100%" />
          </svg>
        </div>

        <div class="badge-info">
          <h4 class="center">{{badge.name}}</h4>
        </div>

      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>

<!--
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"
  viewBox="0 0 100 100">
  <path d="M20,2H4V4L9.81,8.36C6.14,9.57 4.14,13.53 5.35,17.2C6.56,20.87 10.5,22.87 14.19,21.66C17.86,20.45 19.86,16.5 18.65,12.82C17.95,10.71 16.3,9.05 14.19,8.36L20,4V2M14.94,19.5L12,17.78L9.06,19.5L9.84,16.17L7.25,13.93L10.66,13.64L12,10.5L13.34,13.64L16.75,13.93L14.16,16.17L14.94,19.5Z"
    x="0" y="0" width="100%" height="100%" />
</svg>
-->
