<h1 mat-dialog-title>Breakdown note</h1>
<div mat-dialog-content>
  <p>
    <strong>Bike code:</strong> {{bikeId}}
  </p>
  <mat-form-field>
    <textarea matInput mat-autosize="true" matAutosizeMinRows="3" #note maxlength="256" placeholder="Note..."></textarea>
    <mat-hint align="end">{{note.value.length}} / 256</mat-hint>
  </mat-form-field>
  <div class="button">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSave(note.value)">Save</button>
  </div>
</div>



