::ng-deep .mat-tab-header {
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 56px;
}

::ng-deep .mat-tab-label-container {
  background-color: white;
}

::ng-deep .mat-tab-header-pagination {
  background-color: white;
}

::ng-deep .mat-tab-body-wrapper {
  margin-top: 48px;
  min-height: 100%;
}

::ng-deep .mat-tab-group {
  min-height: 100%;
}

::ng-deep .mat-tab-body {
  min-height: 100%;
}

.mat-elevation-z4 {
  box-shadow: unset;
}

@media only screen and (min-width: 768px) {
  ::ng-deep .mat-tab-header {
    left: 126px;
  }
}
