<mat-tab-group mat-stretch-tabs [selectedIndex]="page" class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Bikes"> <app-bikes></app-bikes> </mat-tab>
  <mat-tab label="Station"> <app-stations></app-stations> </mat-tab>
</mat-tab-group>
