<!-- Page Container -->
<div class="main-container">
  <!-- The Grid -->
  <div [class.grid-container]="!isTablet">

    <!-- Left Column -->
    <div [ngClass]="{'left-column': !isTablet, 'container-to-fill': !isTablet}">

      <!-- Profile -->
      <mat-card class="box fill-remaining">

        <!-- username -->
        <h4 class="center">{{username}}</h4>

        <!-- profile icon -->
        <p class="center">
          <img src="https://www.w3schools.com/w3images/avatar3.png" class="profile-img" alt="Avatar">
        </p>

        <!-- separation line -->
        <hr>

        <!-- personal information -->
        <div class="profile-container">
          <form class="example-form" [formGroup]="personalInfoFormGroup" (ngSubmit)="savePersonalInfoChanges()">
            <!-- first name -->
            <mat-form-field class="full-width">
              <input matInput placeholder="First Name" required readonly="{{isReadonly}}" formControlName="firstname">
            </mat-form-field>

            <!-- last name -->
            <mat-form-field class="full-width">
              <input matInput placeholder="Last Name" required readonly="{{isReadonly}}" formControlName="lastname">
            </mat-form-field>

            <!-- birthday -->
            <!--<mat-form-field class="full-width" matTooltip="dd/mm/yyyy" aria-label="field that shows a tooltip">
                <input matInput placeholder="Birthday" [matDatepicker]="picker" [formControl]="birthdayFormControl"
                  formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>-->

            <!-- country -->
            <mat-form-field class="full-width">
              <input matInput placeholder="Country" readonly="{{isReadonly}}" formControlName="country">
            </mat-form-field>

            <!-- city -->
            <mat-form-field class="full-width">
              <input matInput placeholder="City" readonly="{{isReadonly}}" formControlName="city">
            </mat-form-field>

            <!-- display profile form error messages -->
            <mat-error *ngIf="profileErrorMsg" class="center error-msg">{{passwordErrorMsg}}</mat-error>

            <!-- submit button -->
            <div class="center">
              <button mat-raised-button color="primary" [disabled]="isReadonly || !personalInfoFormGroup.valid || personalInfoAreUnchanged()">Save</button>
            </div>
          </form>
        </div>

      </mat-card>
    </div>

    <!-- Main Column -->
    <div [ngClass]="{'main-column': !isTablet, 'container-to-fill': !isTablet}">
      <!-- change password card -->
      <mat-card *ngIf="!isReadonly" class="box fill-remaining">
        <h3>
          <i class="material-icons"> lock </i> Change password
        </h3>

        <form class="example-form" [formGroup]="passwordChangeFormGroup" (ngSubmit)="savePasswordChange()">
          <!-- new password field -->
          <mat-form-field class="half-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required formControlName="newPassword">
          </mat-form-field>

          <!-- change password field -->
          <mat-form-field class="half-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm password" required formControlName="newPasswordConfirmation">
          </mat-form-field>

          <!-- hide/show password -->
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

          <!-- display password form error messages -->
          <mat-error *ngIf="passwordErrorMsg" class="center error-msg">{{passwordErrorMsg}}</mat-error>

          <!-- submit password change -->
          <div class="center">
            <button type="submit" mat-raised-button color="primary" [disabled]="!passwordChangeFormGroup.valid">
              Change Password
            </button>
          </div>
        </form>
      </mat-card>


      <!-- change email card -->
      <mat-card class="box fill-remaining">
        <h3> <i class="material-icons"> email </i> Change Email</h3>

        <!-- <label>Current email: {{serverEmail}} </label>-->

        <form class="example-form" [formGroup]="emailChangeFormGroup" (ngSubmit)="saveEmailChange()">
          <!-- new email field -->
          <mat-form-field class="full-width">
            <input matInput placeholder="New email" required readonly="{{isReadonly}}" formControlName="newEmail">
          </mat-form-field>

          <!-- display email form error messages -->
          <mat-error *ngIf="emailErrorMsg" class="center error-msg">{{emailErrorMsg}}</mat-error>

          <!-- submit new email -->
          <div class="center">
            <button type="submit" mat-raised-button color="primary" [disabled]="!emailChangeFormGroup.valid || emailIsUnchanged()">
              Change email
            </button>
          </div>
        </form>
      </mat-card>


      <!-- credit card -->
      <mat-card class="box fill-remaining">
        <div class="row">
          <h3 class="column">
            <i class="material-icons"> credit_card </i>
            Change credit card info
            <!--<div class="image">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"
                viewBox="0 0 40 40" [ngStyle]="{'fill': badge.color}">
                <path d="M20,2H4V4L9.81,8.36C6.14,9.57 4.14,13.53 5.35,17.2C6.56,20.87 10.5,22.87 14.19,21.66C17.86,20.45 19.86,16.5 18.65,12.82C17.95,10.71 16.3,9.05 14.19,8.36L20,4V2M14.94,19.5L12,17.78L9.06,19.5L9.84,16.17L7.25,13.93L10.66,13.64L12,10.5L13.34,13.64L16.75,13.93L14.16,16.17L14.94,19.5Z"
                  x="0" y="0" width="100%" height="100%" />
              </svg>
            </div>
         <!-- <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
         -->
          </h3>
          <div class="credit-card-container">
            <!-- https://github.com/muffinresearch/payment-icons/tree/master/svg/flat -->
            <img src="./assets/images/visa.svg" alt="visa" width="45" height="45">
            <img src="./assets/images/mastercard.svg" alt="mastercard" width="45" height="45">
            <img src="./assets/images/discover.svg" alt="discover" width="45" height="45">
            <img src="./assets/images/americanexpress.svg" alt="americanexpress" width="45" height="45">
          </div>
        </div>
        <form class="example-form" [formGroup]="creditCardChangeFormGroup" (ngSubmit)="saveCreditCardChange()">

          <!-- name -->
          <mat-form-field class="half-width">
            <input matInput placeholder="Name" required readonly="{{isReadonly}}" formControlName="name">
          </mat-form-field>

          <!-- card number -->
          <mat-form-field class="half-width">
            <input matInput type="number" placeholder="Card number" required readonly="{{isReadonly}}" formControlName="cardNumber">
          </mat-form-field>

          <!-- expiration date -->
          <mat-form-field class="half-width">
            <input matInput required [matDatepicker]="expirationDatePicker" placeholder="Expiration date" readonly="{{isReadonly}}"
              formControlName="expirationDate">

            <mat-datepicker-toggle matSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
            <mat-datepicker disabled="{{isReadonly}}" #expirationDatePicker></mat-datepicker>

          </mat-form-field>

          <!-- CV Code -->
          <mat-form-field class="half-width">
            <input matInput type="number" placeholder="CV Code" required readonly="{{isReadonly}}" formControlName="cvCode">
          </mat-form-field>

          <!-- display credit card form error messages -->
          <mat-error *ngIf="creditCardErrorMsg" class="center error-msg">{{creditCardErrorMsg}}</mat-error>

          <!-- update credit card info button -->
          <div class="center">
            <button type="submit" mat-raised-button color="primary" [disabled]="!creditCardChangeFormGroup.valid || creditCardIsUnchanged()">
              Update info
            </button>
          </div>
        </form>
      </mat-card>
    </div>

  </div>
</div>
