.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  /*background-color: #2196F3;*/
}

.main-container {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

.left-column {
  grid-column: 1 / span 2;
  /*grid-row: 1 / 3;*/
}

.main-column {
  grid-column: 3 / span 5;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 43%;
  padding: 2%;
}

.center {
  text-align: center;
  border-style: none;
}

.error-msg {
  margin-top: -15px;
  margin-bottom: 10px;
}

.profile-img {
  border-radius: 50%;
  height: 106px;
  width: 106px;
}

button {
  width: 50%;
}

mat-card {
  margin-bottom: 1% !important;
}

.box {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.credit-card-container {
  padding-top: 25px;
  padding-left: 10px;
  img{
    margin-left: 3px;
    margin-right: 3px;
  }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
  float: left;
  padding: 5px;
}

/* Clear floats after image containers */

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  $formField: 98%;
  .profile-container {
    min-height: 0px;
  }
  .full-width {
    width: $formField;
  }
  .half-width {
    width: $formField;
    padding: 0%;
  }
  mat-card {
    margin-bottom: 2% !important;
  }
  button {
    width: 100%;
  }
  .main-container {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .column {
    float: none;
    padding: 0px;
  }
  .credit-card-container {
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: -15px;
  }
}
