div {
  padding-top: 8px;
  padding-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
}

.full-width, .select-width {
  width: 100%;
}

.filter {
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0;
}

.view {
  /*margin-top: 56px;*/
  text-align: end;
  display: none;
}

.view label {
  padding-right: 4px;
}

app-user-row {
  flex: 1 1 100%;
}

.users {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /*margin-top: 48px;*/
}

@media only screen and (min-width: 768px) {

  .users {
    margin-top: 0;
  }

  .full-width, .select-width {
    width: 47%;
  }

  .select-width {
    margin-right: 6%;
  }

  .view {
    display: block;
  }

  .filter {
    left: 125px;
  }
}
