<mat-accordion class="filter">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Filter
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
      <mat-form-field id="left-select" class="select-width">
        <mat-select placeholder="Type" name="type" [(ngModel)]="typeSelected">
          <mat-option [value]="'all'">All</mat-option>
          <mat-option [value]="'true'">Admin</mat-option>
          <mat-option [value]="'false'">User</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Search..." name="code" type="search" [(ngModel)]="initCode">
      </mat-form-field>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<div class="view">
  <label>Change view:</label>
  <button mat-icon-button (click)="displayBlock()">
    <mat-icon aria-label="Change to grid visualization">view_headline</mat-icon>
  </button>
  <button mat-icon-button (click)="displayFlex()">
    <mat-icon aria-label="Change to list visualization">apps</mat-icon>
  </button>
</div>
<div class="users">
  <ng-container *ngFor="let user of users$">
    <app-user-row *ngIf="
      (typeSelected=='all' || user.admin == typeSelected) &&
      (user.username.toString().toLowerCase().includes(initCode.toLowerCase()) ||
       user.name.toString().toLowerCase().includes(initCode.toLowerCase()) ||
       user.surname.toString().toLowerCase().includes(initCode.toLowerCase()))" [user]="user"
       [style.max-width]="displayMode">>
    </app-user-row>
  </ng-container>
</div>
