<div class="wrapper">
  <div class="overlay" *ngIf="showS">
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="myRow">
    <div class="myCol1">
      <form (ngSubmit)="create()" #loginForm="ngForm" class="example-form">
        <h1>Create Station</h1>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" name="name" [(ngModel)]="name" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Type" name="type" [(ngModel)]="selectedType" required (selectionChange)="addMarker()">
            <mat-option *ngFor="let type of types$" [value]="type.id">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> <br/>

        <mat-form-field class="full-width">
          <input matInput placeholder="Number of tower" name="slot" [formControl]="numTower" [(ngModel)]="numSlot" type="number">
          <mat-error *ngIf="numTower.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Latitude" name="lat" (change)="addMarker()"
                 [(ngModel)]="lat" type="number" required pattern="[0-9]*.[0-9]*">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Longitude" name="long" (change)="addMarker()"
                 [(ngModel)]="long" type="number" required pattern="[0-9]*.[0-9]*">
        </mat-form-field>

        <div class="button">
          <button mat-button (click)="onNoClick()">Cancel</button>
          <button type="submit" mat-button [disabled]="!loginForm.form.valid || canSubmitBeEnabled()">Create</button>
        </div>
      </form>
    </div>
    <div class="myCol2">
      <app-map [markers]="markers" (mapClick)="updatePosition($event)"></app-map>
    </div>
  </div>
</div>

