/*init css for spinner*/
.wrapper {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 22%;
}
/*end css for spinner*/

.button {
   text-align: center;
}

.myRow {
  display: flex;
  padding-top: 25px;
  min-height: calc(100vh - 100px);
}

.myCol1 {
  flex: 30%;
}

.myCol2 {
  flex: 70%;
  margin-top: 96px;
  padding-right: 30px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 80%;
  margin-left: 10%;
}

h1 {
  font-size: 20px;
  margin-left: 10%;
}

@media only screen and (max-width: 768px) {
  .myRow {
    display: block;
  }

  .myCol2 {
    display: none;
  }
}
