.center {
  text-align: center;
}

button {
  margin-left: 4%;
  margin-right: 4%;
  width: 45%;
}

.info{
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16;
}
