<h2 *ngIf="marker.type == 'station'" class="center"> {{marker.data.name}} </h2>
<h2 *ngIf="marker.type == 'bike'" class="center"> {{marker.data.id}} </h2>
<mat-nav-list>

  <mat-list-item role="listitem" (click)="openInMaps()">
    <!--<i class="material-icons">
      place
    </i>-->
    <mat-form-field class="info">
      <input matInput placeholder="Position" value="({{marker.lat.toFixed(3)}}, {{marker.lng.toFixed(3)}})" readonly="true">
    </mat-form-field>
  </mat-list-item>

  <mat-list-item role="listitem" *ngFor="let info of infoToDisplay">
    <mat-form-field class="info">
      <input matInput placeholder="{{info[0]}}" value="{{info[1]}}" readonly="true">
    </mat-form-field>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-raised-button color="primary" (click)="closeBottomSheet()">Close</button>
    <button mat-raised-button color="primary"
            *ngIf="!marker.showDetails"
            (click)="showDirections()">Directions</button>
    <button mat-raised-button color="primary"
            *ngIf="marker.showDetails && marker.type == 'station'"
            routerLink="../user/stationDetails/{{marker.data.id}}"
            (click)="closeBottomSheet()">Show details</button>
    <button mat-raised-button color="primary"
            *ngIf="marker.showDetails && marker.type == 'bike'"
            routerLink="../user/bikeDetails/{{marker.data.id}}"
            (click)="closeBottomSheet()">Show details</button>
  </mat-list-item>

</mat-nav-list>
