div {
  padding-top: 8px;
  padding-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
}

.full-width, .select-width {
  width: 100%;
}

.filter {
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0;
}

.container-to-fill {
  padding: 0;
}

app-show-map-details {
  margin-top: 48px;
}

@media only screen and (min-width: 768px) {

  .select-width {
    width: 47%;
  }

  #left-select {
    margin-right: 6%;
  }

  .filter {
    left: 125px;
  }

  .map {
    margin: 10px;
  }

}
