<div class="container-to-fill">
  <mat-accordion class="filter">
    <mat-expansion-panel>
      <mat-expansion-panel-header class="tokiwo">
        <mat-panel-description>
          Filter
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form>
        <mat-form-field id="left-select" class="select-width">
          <mat-select placeholder="Marker type" name="markerType" [(ngModel)]="markerTypeSelected" (selectionChange)="updateMarker()">
            <mat-option [value]="ALL">All</mat-option>
            <mat-option [value]="'b'">Bike</mat-option>
            <mat-option [value]="'s'">Station</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select-width">
          <mat-select placeholder="Type" name="type" [(ngModel)]="typeSelected" (selectionChange)="updateMarker()">
            <mat-option [value]="ALL">All</mat-option>
            <mat-option [value]="'Normal'">Normal</mat-option>
            <mat-option [value]="'Electric'">Electric</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <app-show-map-details [markers]="markers" [isManager]="true"></app-show-map-details>
</div>
