<mat-accordion class="filter">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Filter
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
      <mat-form-field id="left-select" class="select-width">
        <mat-select placeholder="Type" name="type" [(ngModel)]="typeSelected">
          <mat-option [value]="'all'">All</mat-option>
          <mat-option *ngFor="let type of types" [value]="type.type">
            {{type.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Search..." name="code" type="search" [(ngModel)]="initCode">
      </mat-form-field>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<div class="view">
  <label>Change view:</label>
  <button mat-icon-button (click)="displayBlock()">
    <mat-icon aria-label="Change to grid visualization">view_headline</mat-icon>
  </button>
  <button mat-icon-button (click)="displayFlex()">
    <mat-icon aria-label="Change to list visualization">apps</mat-icon>
  </button>
</div>
<div class="stations">
  <ng-container *ngFor="let station of stations$">
    <app-station-row *ngIf="
      (typeSelected=='all' || station.type.name == typeSelected) &&
      (station.name.toString().toLowerCase().includes(initCode.toLowerCase()))" [station]="station"
      [style.max-width]="displayMode">
    </app-station-row>
  </ng-container>
</div>

<app-floating-button routerLink="../addStations" [icon]="'add'" [text]="'add station'" ></app-floating-button>
