<div class="myRow">
  <div class="myCol">
    <form class="example-form" *ngIf="!resizer.isTablet || !showLogList">
      <h1>Station info:</h1>
      <mat-form-field class="full-width">
        <input matInput placeholder="Station code" readonly="true" value={{station.id}}>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Name" readonly="true" value="{{station.name}}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Type" readonly="true" value="{{station.type.name}}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Position" readonly="true" value="({{station.location.lat}},{{station.location.long}})">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Bike available" readonly="true" value="{{station.availableBikes}}/{{station.towersCount}}">
      </mat-form-field>
    </form>
  </div>
  <div class="myCol" *ngIf="!resizer.isTablet || showLogList">
    <h2>Towers:</h2>
    <ng-container *ngFor="let tower of towers">
      <ul>
        <li>
          <b>Name:</b> {{ tower.name }}
        </li>
        <li>
          <b>Status:</b> {{tower.bike}}
        </li>
      </ul>
    </ng-container>
  </div>
  <div *ngIf="resizer.isTablet">
    <button mat-raised-button (click)="toggle()" class="button-center">{{textToggle}}</button>
  </div>
</div>
