.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 80%;
  margin-left: 10%;
}

.myRow {
  padding-top: 8px;
}

.myCol {
  flex: 50%;
}

ul {
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10% 12px 10%;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

i {
  margin-right: 10px;
}

h1 {
  font-size: 20px;
  margin-left: 10%;
}

h2 {
  font-size: 18px;
  margin-left: 10%;
}

.button-center {
  margin-left: 32.5%;
  width: 35%;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .myRow {
    display: flex;
    padding-top: 25px;
  }
}
