<div class="wrapper">

  <!--<app-login-registration *ngIf="!logged"
  (login)="setLogged($event)"></app-login-registration>-->

  <!--<app-site-navigation *ngIf="logged"></app-site-navigation>-->
  <!--<div *ngIf="logged" id="content">-->
    <router-outlet></router-outlet>
  <!--</div>-->

</div>
