<mat-card class="container center-horizonthally custom-card">
  <mat-form-field class="insertionCode" appearance="outline">
    <mat-label>Code</mat-label>
    <input matInput [(ngModel)]="code">
  </mat-form-field>

  <!-- display error messages -->
  <mat-error *ngIf="errorMsg"> {{errorMsg}} </mat-error>

  <div>
   <!-- <button class="insertionButton" mat-raised-button color="warn" (click)="notifyBreakdown()">
      Notify Breakdown
    </button> -->

    <button *ngIf="!bikeRented" class="insertionButton" mat-raised-button color="primary" (click)="rentBike()" [disabled]="!areBikeOperationsEnabled()">
      Rent bike
    </button>

    <button *ngIf="bikeRented" class="insertionButton" mat-raised-button color="primary" (click)="returnBike()" [disabled]="!areBikeOperationsEnabled()">
      Return bike
    </button>
  </div>
</mat-card>
