.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.center-horizonthally {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 50%;
}

.insertionCode {
  width: 100%;
}

.insertionButton {
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 88%;
  }
}

mat-error {
  margin-top: -22px;
  margin-bottom: 15px;
}
