<!-- login form content -->
<form [class.form]="isTablet" (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup">

  <!-- username field -->
  <mat-form-field class="form-input">
    <input matInput required formControlName="username" placeholder="username">
  </mat-form-field>

  <!-- password field -->
  <mat-form-field class="form-input">
    <input matInput required formControlName="password" placeholder="password" [type]="hide ? 'password' : 'text'">
  </mat-form-field>

  <!-- hide/show password -->
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

  <!-- display error messages -->
  <mat-error *ngIf="errorMsg"> {{errorMsg}} </mat-error>

  <!-- Remember me checkbox -->
  <mat-checkbox color="primary" formControlName="checked">Remember me</mat-checkbox>

  <!-- login button -->
  <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="!loginFormGroup.valid">Login
  </button>

  <!-- register form redirect -->
  <p>
    Don't have an account?
    <a routerLink="/authentication/registration">
      Register Now!
    </a>
  </p>

</form>
