ul {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin: 0 8px 12px;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 10px;
}
