<ul routerLink="../stationDetails/{{station.id}}" >
  <li>
    <i *ngIf="(station.type.name=='Electric')" class="material-icons"> flash_on </i>
    <i *ngIf="(station.type.name=='Normal')" class="material-icons"> directions_bike </i>
    <b>ID:</b> {{ station.id }}
  </li>
  <li>
    <b>Name:</b> {{station.name}}
  </li>
  <li>
    <b>Position:</b> ({{station.location.lat}} , {{station.location.long}})
  </li>
  <li>
    <b>Available bike:</b> {{station.availableBikes}}/{{station.towersCount}}
  </li>
</ul>
