<div *ngIf="availableDevices" class="form-container fill-remaining">
  <mat-form-field>
    <mat-select [(value)]="selected" (selectionChange)="onDeviceSelectChange($event)">
      <mat-option value="No Device">
        No Device
      </mat-option>
      <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">
        {{ device.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- can't use *ngIf here: zxing-scanner won't work
  if it is not loaded when everything is started -->
<div [hidden]="!hasCameras">

  <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>

</div>


<div *ngIf="!hasCameras && hasPermission === true">
  <h1>Looks like your actual device does not have cameras, or I could no find them. </h1>
</div>


<div *ngIf="hasPermission === undefined">
  <h1>Waiting for permissions.</h1>

  <blockquote>
    <h2>If your device does not have cameras, no permissions will be asked.</h2>
  </blockquote>
</div>


<div *ngIf="hasPermission === false">
  <h1>You denied the camera permissions, we can't scan anything without it. 😪</h1>
</div>
