<div class="dialog-container">
  <h1 mat-dialog-title>{{data.name}}</h1>

  <div mat-dialog-content>
    <p> {{ data.descr }}</p>
  </div>

  <div mat-dialog-actions>
    <!--<div *ngIf="data.reedemable">
      <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Redeem</button>
    </div>
    <div *ngIf="!data.reedemable">-->
    <button mat-raised-button color="primary" class="insertionButton" (click)="onNoClick()">Close</button>
    <!--</div>-->
  </div>
</div>
