div {
  padding-top: 8px;
  padding-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
}

.full-width, .select-width {
  width: 100%;
}

.filter {
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0px;
}

.view {
  text-align: end;
  display: none;
}

.view label {
  padding-right: 4px;
}

app-bike-row {
  flex: 1 1 100%;
}

.bikes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 0;
  min-height: calc(100vh - 161px);
}

@media only screen and (min-width: 768px) {

  .bikes {
    min-height: calc(100vh - 210px);
  }

  .select-width {
    width: 47%;
  }

  #left-select {
    margin-right: 6%;
  }

  .view {
    display: block;
  }

  .filter {
    left: 146px;
  }
}
