<div class="filter">
<mat-accordion class="filter">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Filter
      </mat-panel-description>
    </mat-expansion-panel-header>
      <form>
        <mat-form-field id="left-select" class="select-width">
          <mat-select placeholder="Type" name="type" [(ngModel)]="typeSelected">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngFor="let type of types" [value]="type.type">
              {{type.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select-width">
          <mat-select placeholder="Status" name="status" [(ngModel)]="statusSelected">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngFor="let state of status" [value]="state.state">
              {{state.state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Search..." name="code" type="search" [(ngModel)]="initCode">
      </mat-form-field>
      </form>
  </mat-expansion-panel>
</mat-accordion>
</div>
<div class="view">
  <label>Change view:</label>
  <button mat-icon-button (click)="displayBlock()">
    <mat-icon aria-label="Change to grid visualization">view_headline</mat-icon>
  </button>
  <button mat-icon-button (click)="displayFlex()">
    <mat-icon aria-label="Change to list visualization">apps</mat-icon>
  </button>
</div>
<div class="bikes" >
  <ng-container *ngFor="let bike of bikes$">
  <app-bike-row  *ngIf="
      (typeSelected=='all' || bike.type.name == typeSelected) &&
      (statusSelected=='all' || bike.currState.name == statusSelected) &&
      (bike.id.toString().includes(initCode))" [bike]="bike"
      [style.max-width]="displayMode">
  </app-bike-row>
  </ng-container>
</div>

<app-floating-button [icon]="'add'" [text]="'add bike'" (press)="press()"></app-floating-button>
