<h1 mat-dialog-title>Create Bike</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-select placeholder="Type" (selectionChange)="changeType($event.value)">
        <mat-option *ngFor="let type of data$" [value]="type.type.id">
          {{type.type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Station" [disabled]="selectedType==undefined" (selectionChange)="changeStation($event.value)">
        <mat-option *ngFor="let station of stations" [value]="station.id">
          {{station.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Free towers" [disabled]="selectedStation==undefined" name="tower" [(ngModel)]="selectedTower">
        <mat-option *ngFor="let tower of towers" [value]="tower.id">
          {{tower.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [disabled]="selectedTower==undefined" (click)="create()">Create</button>
    </div>
  </form>
</div>
