.floatButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 0 20px 0 16px;
  width: 56px;
  min-width: 56px;
  height: 56px;
  border-radius: 28px;
  display: inline-flex;
  align-items: center;
  /*background-color: blue;*/
  border: 0;
  outline:none;
}

.fab-icon {
  color: white;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.text-button {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .text-button {
    visibility: visible;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
  }

  .floatButton {
    width: auto !important;
    max-width: 100%;
    height: 48px;
    border-radius: 24px;
    padding-left: 12px;
    right: 20px;
  }
}
