<h1 mat-dialog-title>Select tower</h1>
<div mat-dialog-content>
  <p>
    <strong>Bike code:</strong> {{bike.id}}
  </p>
  <form>
  <mat-form-field>
    <mat-select placeholder="Station" (selectionChange)="changeStation($event.value)">
      <mat-option *ngFor="let station of data$.stations" [value]="station.id">
        {{station.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-select placeholder="Free towers" [disabled]="towers==undefined" name="tower" [(ngModel)]="selectedTower">
      <mat-option *ngFor="let tower of towers" [value]="tower.id">
        {{tower.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="selectedTower==undefined" (click)="makeAvailable()">Make available</button>
  </div>
</form>
</div>

