<h1 mat-dialog-title>Log info:</h1>
<div mat-dialog-content class="pad">
  <ul>
    <li>
      <b>Who:</b> {{ log$.user.username }}
    </li>
    <li>
      <b>What:</b> {{ log$.name }}
    </li>
    <li>
      <b>When:</b> {{log$.time}}
    </li>
    <li>
      <b>Where:</b> ({{log$.location.lat}}, {{log$.location.long}})
    </li>
    <li *ngIf="log$.name=='Maintenance started'">
      <b>Note:</b> {{log$.descr}}
    </li>
  </ul>
</div>
<div class="action">
  <button mat-button (click)="onClose()" cdkFocusInitial>Close</button>
</div>
