<!-- unlocked -->
<app-container [title]="unlockedTitle" [badges]="badges"></app-container>

<!-- locked -->
<app-container [title]="lockedTitle" [badges]="badges" [achieved]="false"></app-container>
