<div class="map" *ngIf="initializationDone">
  <!-- map renderer -->
  <agm-map [(latitude)]="mapLocation.lat" [(longitude)]="mapLocation.lng" [(zoom)]="mapLocation.zoom"
    [disableDefaultUI]="true" [zoomControl]="true" (mapClick)="onMapClick($event)">

    <!-- map's markers -->
    <agm-marker *ngFor="let marker of markers" [(latitude)]="marker.lat" [(longitude)]="marker.lng"
      [(label)]="marker.label" [iconUrl]="marker.iconUrl" [markerDraggable]="marker.draggable" (markerClick)="onMarkerClick(marker)">

      <!-- shows marker's description on click -->
      <agm-info-window *ngIf="marker.description != null" [disableAutoPan]="false" #infoWindow>
        <div>
          {{ marker.description }}
        </div>
      </agm-info-window>
    </agm-marker>

    <!-- shows route from origin to destination -->
    <agm-direction *ngIf="(directions.origin && directions.destination) != null" [origin]="directions.origin"
      [destination]="directions.destination" [renderOptions]="directions.directionsOptions">
    </agm-direction>
  </agm-map>
</div>
