<div class="myRow">
  <div class="top left">
    <h2>Report</h2>
    <div class="reportRow">
      <span class="title">Total rents</span>
      <span class="value">{{tot}}</span>
    </div>
    <div class="reportRow">
      <span class="title">Total rents for normal bike</span>
      <span class="value">{{normal}}</span>
    </div>
    <div class="reportRow">
      <span class="title">Total rents for electric bike</span>
      <span class="value">{{elec}}</span>
    </div>
    <div class="reportRow">
      <span class="title">Avg rental time for normal bike (hour)</span>
      <span class="value">{{avgN}}</span>
    </div>
    <div class="reportRow">
      <span class="title">Avg rental time for electric bike (hour)</span>
      <span class="value">{{avgE}}</span>
    </div>
  </div>
  <div class="top right">
    <h2>Station ranking</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th id="first" mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Station </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="num">
        <th id="last" mat-header-cell *matHeaderCellDef> Num. Rent </th>
        <td mat-cell *matCellDef="let element"> {{element.num}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="bottom">
    <h2>Time trend</h2>
    <canvas id="lineChart" aria-label="Line chart for trend of rents for months"></canvas>
  </div>
</div>
