.myRow {
 /* display: flex;*/
  flex-wrap: wrap;
}

.top {
  flex: 1 1 46.5%;
  /*max-width: 46.5%;*/
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left, .right, .bottom {
  margin: 2% 2% 3%;
}

.bottom {
  flex: 1 1 96%;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 600px !important;
}

.top h2, .bottom h2 {
  margin-left: 3%;
  font-size: 20px;
}

/*init report*/
.reportRow {
  width: 94%;
  margin-left: 3%;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  flex: 1 1 80%;
  padding: 10px;
  border-right: 1px solid;
}

.value {
  flex: 1 1 20%;
  align-self: center;
  text-align: center;
}
/*end report*/

/*init ranking*/
table {
  margin-left: 3%;
  margin-bottom: 10px;
  width: 94%;
}

tr.mat-footer-row, tr.mat-row {
  height: 41px;
}

tr.mat-header-row {
  height: 36px;
}

#first, #last {
  width: 20%;
}
/*end ranking*/

/*init trend*/
canvas {
  width: 99% !important;
  height: 90% !important;
}
/*end trend*/


@media only screen and (min-width: 768px) {
  .myRow {
    display: flex;
  }

  .top{
    max-width: 46.5%;
  }

  table {
    margin-bottom: 0;
  }

  .left {
    margin: 2% 1.3% 2% 2%;
  }

  .right {
    margin: 2% 2% 2% 1.3%;
  }

  .bottom {
    margin: 0 2% 2%;
  }

  .bottom h2 {
    margin-left: 1.5%;
  }
}
