mat-form-field {
  padding: 2%;
}

.example-form {
  width: 100%;
}

.field-half-width {
  width: 44%;
}

.field-full-width {
  width: 92%;
}

@media only screen and (max-width: 768px) {
  .field-full-width {
    width: 89%;
  }
  .field-half-width {
    width: 89%;
  }
}

.btn {
  width: 100%;
}

p, mat-error {
  text-align: center;
}

mat-error {
  margin-bottom: 20px;
}
