<!-- registration form content -->
<form class="example-form" [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">

  <!-- first name field -->
  <mat-form-field class="field-half-width" [floatLabel]="registrationFormGroup.value.floatLabel">
    <input matInput required placeholder="first name" formControlName="firstname">
  </mat-form-field>

  <!-- last name field -->
  <mat-form-field class="field-half-width" [floatLabel]="registrationFormGroup.value.floatLabel">
    <input matInput required placeholder="last name" formControlName="lastname">
  </mat-form-field>

  <!-- username field -->
  <mat-form-field class="field-full-width" [floatLabel]="registrationFormGroup.value.floatLabel">
    <input matInput required placeholder="username" maxlength="16" formControlName="username">
    <mat-hint align="end">{{registrationFormGroup.value.username.length || 0}}/16</mat-hint>
  </mat-form-field>

  <!-- email field -->
  <mat-form-field class="field-full-width" [floatLabel]="registrationFormGroup.value.floatLabel">
    <input matInput required placeholder="email" formControlName="email" [formControl]="emailValidator">
    <mat-error *ngIf="emailValidator.invalid">{{getEmailNotValidErrorMessage()}}</mat-error>
  </mat-form-field>

  <!-- password field -->
  <mat-form-field class="field-half-width" [floatLabel]="registrationFormGroup.value.floatLabel">
    <input matInput required placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password">
  </mat-form-field>

  <!-- confirm password field -->
  <mat-form-field class="field-half-width" [floatLabel]="registrationFormGroup.value.floatLabel">
    <input matInput required placeholder="confirm password" [type]="hide ? 'password' : 'text'" formControlName="passwordConfirmation">
  </mat-form-field>

  <!-- hide/show password -->
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

  <!-- display error messages -->
  <mat-error *ngIf="errorMsg"> {{errorMsg}} </mat-error>

  <!-- login button -->
  <button mat-raised-button color="primary" class="btn" type="submit" [disabled]="!registrationFormGroup.valid || canSubmitBeEnabled()">Login
  </button>

  <!-- login form redirect -->
  <p>
    Already have an account?
    <a routerLink="/authentication/login"> Login </a>
  </p>

</form>
