<!-- tablet -->
<div *ngIf="isTablet">
  <div [style.height.px]="mapHeight">
    <app-map [markers]="markers" [userLocation]="userLocation" (markerClick)="onMarkerClicked($event)"></app-map>
  </div>
</div>

<!-- desktop -->
<div *ngIf="!isTablet">
  <mat-sidenav-container>
    <mat-sidenav position="end" mode="side" [(opened)]="desktopInfoPanelOpened">

      <div *ngIf="selectedMarker">
        <h3 *ngIf="selectedMarker.type == 'station'" class="center"> {{data.name}} </h3>
        <h3 *ngIf="selectedMarker.type == 'bike'" class="center"> {{data.id}} </h3>

        <mat-nav-list>

          <mat-list-item role="listitem" (click)="openInMaps()">
            <mat-form-field class="info">
              <input matInput placeholder="Position" value="({{selectedMarker.lat.toFixed(3)}}, {{selectedMarker.lng.toFixed(3)}})"
                readonly="true">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item role="listitem" *ngFor="let info of infoToDisplay">
            <mat-form-field class="info">
              <input matInput placeholder="{{info[0]}}" value="{{info[1]}}" readonly="true">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item role="listitem">
            <button mat-raised-button color="primary" *ngIf="!selectedMarker.showDetails" (click)="showDirections()">Directions</button>
            <button mat-raised-button color="primary"
                    *ngIf="selectedMarker.showDetails && selectedMarker.type == 'station'"
                    routerLink="../stationDetails/{{selectedMarker.data.id}}">Show details</button>
            <button mat-raised-button color="primary"
                    *ngIf="selectedMarker.showDetails && selectedMarker.type == 'bike'"
                    routerLink="../bikeDetails/{{selectedMarker.data.id}}">Show details</button>
          </mat-list-item>

          <mat-list-item role="listitem">
            <button mat-raised-button color="primary" (click)="closeInfoPanel()">Close</button>
          </mat-list-item>

        </mat-nav-list>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <div [style.height.px]="mapHeight">
        <app-map [markers]="markers" [userLocation]="userLocation" (markerClick)="onMarkerClicked($event)"></app-map>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
