.center {
  text-align: center;
}

mat-sidenav {
  width: 200px;
  border-style: solid;
}

$listItemMargin: 15px;
mat-list-item {
  margin-top: $listItemMargin;
  margin-bottom: $listItemMargin;
}

$formFieldmMargin: 2%;
mat-form-field, button {
  margin-left: $formFieldmMargin;
  margin-right: $formFieldmMargin;
  width: 96%;
}

mat-form-field.mat-form-field {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .center {
    overflow-wrap: break-word;
  }
}
